* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grid-rows: 1;
    --grid-cols : 1;
}

body {
    background-color: grey;
}

.sketch-box {
    /* border: 1px solid red; */
    width: fit-content; 
    padding: 10px 30px 20px; /*omitted last value */
    margin-left: 30%;
    /* margin-top: 20px; */
    background-color: purple;
}

h2 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    /* border: 1px solid red; */
}

button:hover {
    background-color: grey;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), minmax(5px, 1fr));
    grid-template-rows: repeat(var(--grid-rows), minmax(5px, 1fr));
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 600px;
    height: 600px;
    margin-top: 10px;
}

.grid {
    background-color: white;
    border-top: 0.01px solid grey;
    border-left: 0.01px solid grey;
}
